language: generic
sudo: required
services:
  - docker
before_script:
  - docker login -u hugosandelius -p $DOCKERHUB_PASSWD
  - timeout 120 'docker-compose pull' || true
script:
  - docker-compose build
  - docker-compose push
deploy:
  # TODO: ssh key stuff
  #- scp docker-compose.yml root@hugosandelius.se:~ && ssh 'docker-compose up -d'