language: generic
sudo: required
services:
  - docker
addons:
  ssh_known_hosts: hugosandelius.se
before_script:
  - docker login -u hugosandelius -p $DOCKERHUB_PASSWD
  - docker-compose pull
script:
  - docker-compose build
  - docker-compose push
before_deploy:
  - openssl aes-256-cbc -K $encrypted_c20889b0a041_key -iv $encrypted_c20889b0a041_iv -in deploy_rsa.enc -out deploy_rsa -d
  - eval "$(ssh-agent -s)"
  - chmod 600 deploy_rsa
  - ssh-add deploy_rsa
deploy: 
  provider: script
  skip_cleanup: true
  script: ./deploy.sh
  on:
    branch: master