[Unit]
Description=uWSGI instance to serve tagga
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/tagga
ExecStart=/usr/local/bin/uwsgi --ini tagga.ini
Restart=Always

[Install]
WantedBy=multi-user.target