h1 {
    text-align: center;
}

.featurelist {
    font-size: 40px;
    text-align: left;
    list-style: none;
    display: table;
    margin: 0 auto;
}

.content {
    margin: 0 auto;
    padding: 100px 0;
}

body {
    background-color: #D6EDFF;
    color: #197278;
}

a {
    text-decoration: none;
    color: #197278;
}

a:visited {
    color: #197278;
}

a:hover {
    color: #0A2463;
}